@media screen and (min-width: 768px) {
    body {
        margin-left: 100px;
        margin-right: 800px;
        background-color: #f6f4f2;
        font-family: 'Inter', sans-serif;
        line-height: 1.4;
    }

      .sidebar {
/*        position: fixed;
        left: 0;
        top: 0;
*/      width: 200px; 
        height: 100%;
        background-color: #f2f2f2; 
        display: flex;
/*        flex-direction: row;*/
        align-items: center;
        justify-content: start;
        padding-top: 20px; 
    }

    .sidebar a {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
/*        background-color: #e6e6e6; */
        width: 80%;
        border-radius: 5px;
    }

    .content {
        margin-left: 200px; 
        padding: 20px;
    }

    .post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    }

    .post-meta .date-published {
        font-style: italic;
        color: #666; /* Or any color of your choice */
    }

    hr {
        border: 0;
        height: 1px;
        background-color: #ccc; /* Or any color of your choice */
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {
    body {
        margin-left: 10px;
        margin-right: 100px;
        background-color: #f6f4f2;
        font-family: 'Inter', sans-serif;
        line-height: 1.4;
    }

      .sidebar {
/*        position: fixed;
        left: 0;
        top: 0;
*/      width: 200px; 
        height: 100%;
        background-color: #f2f2f2; 
        display: flex;
/*        flex-direction: row;*/
        align-items: center;
        justify-content: start;
        padding-top: 20px; 
    }

    .sidebar a {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
/*        background-color: #e6e6e6; */
        width: 80%;
        border-radius: 5px;
    }


    .content {
        margin-left: 200px; 
        padding: 20px;
    }

    .post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    }

    .post-meta .date-published {
        font-style: italic;
        color: #666; /* Or any color of your choice */
    }

    hr {
        border: 0;
        height: 1px;
        background-color: #ccc; /* Or any color of your choice */
        margin-bottom: 20px;
    }

}


/*f7f4e9/f6f4f2 fdf5df*/