@media screen and (min-width: 768px) {
    body {
        margin-left: 100px;
        margin-right: 400px;
        background-color: #f2f2f2;
    }
  .navbar ul {
      display: flex;
      justify-content: flex;
      list-style-type: none;
      padding: 0;
  }

  .navbar a {
      margin-left: 20px;
  }
}


@media screen and (max-width: 768px) {
    .navbar ul {
        flex-direction: column; /* stack the navbar items vertically */
        align-items: center;    /* center the items */
    }

    .navbar li {
        margin-bottom: 10px;   /* add some spacing between items */
    }
    
}