<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bibtexParse.js"></script>
</head>

<body>
     <div class="sidebar">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/writings' | relative_url }}">Writings</a>
        <a href="{{ '/publications' | relative_url }}">Publications</a>
        <!-- Add other links as needed -->
    </div>

    <div class="container">
        <div class="main">
        </div>
            {{ content }}
        <div class="update">
             <p>Last updated on <span id="lastUpdated"></span></p>
        </div>
    </div>

    <script>
        fetch('https://api.github.com/repos/nrstillman/nrstillman.github.io/commits/main') 
            .then(response => response.json())
            .then(data => {
                const lastUpdateDate = new Date(data.commit.committer.date).toLocaleDateString();
                document.getElementById('lastUpdated').innerText = lastUpdateDate;
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>
    <script>
        fetch('https://api.github.com/repos/nrstillman/nrstillman.github.io/commits/main') 
            .then(response => response.json())
            .then(data => {
                const lastUpdateDate = new Date(data.commit.committer.date).toLocaleDateString();
                document.getElementById('lastUpdated').innerText = lastUpdateDate;
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>
</body>

</html>
