<!-- _layouts/writings.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>


<body>
     <div class="sidebar">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/writings' | relative_url }}">Writings</a>
        <a href="{{ '/publications' | relative_url }}">Publications</a>
        <!-- Add other links as needed -->
    </div>

    <div class="container">
        <div class="main">
        </div>
            {{ content }}
        <div class="update">
             <p>Last updated on <span id="lastUpdated"></span></p>
        </div>
    </div>



<!-- 
<h1>Debugging Collections</h1>

<h2>Collections:</h2>
<pre>
{{ site.collections | inspect }}
</pre>

<h2>Long Writings:</h2>
<pre>
{{ site.long | inspect }}
</pre>

<h2>Short Writings:</h2>
<pre>
{{ site.short | inspect }}
</pre>
 -->